// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.car-list-container {
    h1, > a {
        margin-bottom: 1em;
    }

    form {
        display: inline;
    }
}

.car-create-container, .car-list-container, .car-edit-container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-edit-container, .car-create-container {
    .actions {
        margin-top: 1em;
    }
}

.car-rent-list-container {
    > form {
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
        margin-bottom: 1.5em;
        max-width: 32em;
        width: 100%;

        button {
            width: 100%;
        }

        .form-group {
            width: calc(50% - .5em);
        }
    }
}
